.employee {
  display: grid;
}

.employee__avatar {
  width: 100%;
  height: auto;
}

.employee__name {
  height: 22px;
  padding-top: 15px;
  padding-bottom: 8px;
  overflow: hidden;

  font-weight: 900;
  font-size: em(18px);
  color: $color-pigeon-blue;
  letter-spacing: -0.1px;

  @include respond-to($body-width-tablet, $body-width-desktop) {
    padding-top: 11px;
    padding-bottom: 1px;
  }
}

.employee__info {
  padding-bottom: 24px;

  font-weight: 400;
  font-size: em(12px);
  line-height: 21px;
  text-align: justify;
  color: $color-light-flaky-gray;

  @include respond-to($body-width-tablet, $body-width-desktop) {
    padding-bottom: 12px;
  }
}