.form {
  display: inline-block;
  width: 621px;

  @include respond-to($body-width-tablet, $body-width-desktop) {
    width: 607px;
  };
}

.form__item {
  display: block;
  margin-bottom: 16px;

  font-size: em(12px);
  color: $color-almond;

  background-color: $color-dark-coral;
  border: none;
  border-radius: 5px;

  @include respond-to($body-width-tablet, $body-width-desktop) {
    margin-bottom: 12px;
  };
}

.input {
  width: 100%;
  height: 38px;

  &::placeholder {
    color: #f48c8f;
    padding-left: 15px;

    @include respond-to($body-width-tablet, $body-width-desktop) {
      padding-left: 9px;
    };
  }

  &::-ms-input-placeholder {
    color: $color-coral;
    padding-left: 15px;

    @include respond-to($body-width-tablet, $body-width-desktop) {
      padding-left: 9px;
    };
  }

  &:hover,
  &:focus {
    height: 36px;

    border: 1px solid $color-almond;
    border-radius: 5px;
    outline: none;
  }
}

.textarea {
  height: 149px;
  padding-top: 10px;

  resize: none;

  @include respond-to($body-width-tablet, $body-width-desktop) {
    height: 151px;
    padding-top: 8px;
  };

  &:hover,
  &:focus {
    height: 147px;

    @include respond-to($body-width-tablet, $body-width-desktop) {
      height: 149px;
    };
  }
}

.button-submit {
  width: 20%;
  height: 30px;

  font-weight: 700;
  color: $color-dark-coral;

  background-color: $color-almond;

  &:hover {
    height: 30px;

    border: 1px solid $color-dark-coral;
  }
}
