.portfolio__gallery {
  display: grid;
  padding-top: 8px;
  padding-bottom: 58px;
  overflow: hidden;

  list-style-type: none;

  grid-template-columns: repeat(4, 1fr);

  @include respond-to($body-width-tablet, $body-width-desktop) {
    padding-top: 18px;
    padding-bottom: 55px;

    grid-template-columns: repeat(3, 1fr);
  }
}

.portfolio__picture {
  padding: 10px 10px 7px;

  &>img {
    width: 100%;
    height: auto;
  }
}

.portfolio__picture_active {
  outline: 5px solid $color-coral;
}