.header__navigation {
  padding-top: 9px;
}

.navigation {
  align-items: center;
  display: flex;
  list-style-type: none;

  font-weight: 700;
  font-size: em(12px);
}

.navigation__item:not(:first-child)::before {
  content: '·';
  position: relative;
  right: -10px;

  color: $color-grayish-black;
}

.navigation__link {
  padding-left: 23px;

  color: $color-white;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: -0.04px;

  &:hover {
    color: $color-coral;

    cursor: pointer;
  }
}

.navigation__link_active {
  color: $color-coral;
}