.header__navigation {
  padding-top: 9px;

@include respond-to($body-width-tablet, $body-width-desktop) {
    padding-top: 3px;
  };
}

.navigation {
  display: flex;
  align-items: center;

  list-style-type: none;
  font-weight: 700;
  font-size: em(12px);
}

.navigation__item:not(:first-child)::before {
  content: '·';
  position: relative;
  right: -15px;

  color: $color-grayish-black;
}

.navigation__link {
  padding-left: 27px;

  color: $color-white;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: -0.035em;

  &:hover {
    color: $color-coral;

    cursor: pointer;
  }
}

.navigation__link_active {
  color: $color-coral;
}
