html {
  scroll-behavior: smooth;
}

body {
  width: $body-width-desktop;
  margin: 0 auto;

  @include respond-to($body-width-tablet, $body-width-desktop) {
    width: $body-width-tablet;
  };

  @include respond-to($body-width-mobile, $body-width-tablet) {
    width: $body-width-mobile;
  };
}
