$color-white: #ffffff;
$color-pigeon-blue: #666d89; //color-gray
$color-light-gray: #c5c5c5;
$color-grayish-black: #494e62; // dark-gray
$color-light-flaky-gray: #767e9e; //gray-blue
$color-coral: #f06c64;
$color-dark-coral: #d6564f;
$color-blue: #3c60f1;
$color-almond: #f0d8d9;
$color-whisper: #ededed;
$color-light-green: #7eed8d;

$body-width-desktop: 1020px;
$body-width-tablet: 768px;
$body-width-mobile: 375px;
$scroll-margin-top: 95px;
$scroll-margin-top-mobile: 71px;
$font-size: 16px;

$background-header: #2d303a;
$background-footer: #2d303a;
$background-services: #f2f2f2;
$background-portfolio: #2d303a;

$background-left-arrow: url('../../assets/images/chev-left.svg');
$background-right-arrow: url('../../assets/images/chev-right.svg');

$background-phone-shadow: url('../../assets/images/shadow.svg');
$background-phone-base: url('../../assets/images/base.svg');
$background-phone-outer-circle: url('../../assets/images/outer-circle.svg');
$background-phone-dot-red: url('../../assets/images/red-dot.svg');
$background-phone-speaker: url('../../assets/images/speaker.svg');
$background-phone-screen: url('../../assets/images/screen.svg');
$background-phone-layer-left: url('../../assets/images/phone-vertical-display.svg');
$background-phone-layer-right: url('../../assets/images/phone-horizontal-display.svg');
$background-phone-circle: url('../../assets/images/circle.svg');
$background-phone-square: url('../../assets/images/square.svg');

$background-service-icon: url('../../assets/images/ellipse.svg');
$background-service-ico-pen: url('../../assets/images/pen.svg');
$background-service-ico-bulb: url('../../assets/images/bulb.svg');
$background-service-ico-heart: url('../../assets/images/heart.svg');
$background-service-ico-phone: url('../../assets/images/phone.svg');
$background-service-ico-buble: url('../../assets/images/bubble.svg');
$background-service-ico-star: url('../../assets/images/star.svg');

$background-contact-ico-facebook: url('../../assets/images/facebook.svg');
$background-contact-ico-google: url('../../assets/images/google+.svg');
$background-contact-ico-twitter: url('../../assets/images/twitter.svg');
$background-contact-ico-linkedin: url('../../assets/images/linkedin.svg');


$border-header-color: #323746;
$border-item-one-color: #ea676b;
$border-item-two-color: #567bdb;
$border-slider-color: #ffffff;
$border-portfolio-color: #323746;
$border-about-color: #f2f2f2;
$border-quote-color: #ea676b;