.about-us {
  height: 728px;

  background-color: $border-about-color;

@include border($color-white, 5px);

@include respond-to($body-width-tablet, $body-width-desktop) {
    height: 669px;

    border: none;
  };
  scroll-margin-top: $scroll-margin-top;
}

.about-us__title {
  margin-bottom: 17px;
  padding-top: 59px;

@include respond-to($body-width-tablet, $body-width-desktop) {
    padding-top: 52px;
  };

@include title();
}

.about-us__subtitle {
  margin-bottom: 45px;

@include respond-to($body-width-tablet, $body-width-desktop) {
    margin-bottom: 39px;
  };

@include subtitle();
}

.about-us__employees {
  display: flex;
}
