.footer {
  height: 76px;

  background-color: $background-footer;
}

.footer__content {
  display: flex;
  align-items: center;
  height: 100%;
}

.footer__copyright {
  display: block;
  width: 787px;
  
  font-weight: 900;
  font-size: em(13px);
  color: $color-pigeon-blue;
}
