.header {
  position: fixed;
  top: 0;
  z-index: 500;

  width: 100%;
  max-width: 1020px;
  height: 89px;

  color: $color-white;

  background-color: $background-header;

  @include border($border-header-color);

  @include respond-to($body-width-mobile, $body-width-tablet) {
    height: 71px;

    border: none;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}