.portfolio {
  height: 864px;

  background-color: $background-portfolio;

@include border($border-portfolio-color);

@include respond-to($body-width-tablet, $body-width-desktop) {
    height: 1094px;
    @include border($border-portfolio-color, 8px);
  };
  scroll-margin-top: $scroll-margin-top;
}

.portfolio__wrapper {
  padding: 0 30px;
}

.portfolio__content {
  height: 100%;
}

.portfolio__title {
  padding-top: 59px;
  padding-bottom: 18px;
  padding-left: 10px;

@include title();
}

.portfolio__subtitle {
  height: 37px;
  padding-left: 10px;

@include respond-to($body-width-tablet, $body-width-desktop) {
    height: 68px;
  };

@include subtitle();
}
