.quote {
  height: 648px;

  background-color: $color-coral;

  @include respond-to($body-width-tablet, $body-width-desktop) {
    height: 625px;
  };

  @include border($border-quote-color);
  scroll-margin-top: $scroll-margin-top;
}

.quote__title {
  padding-top: 59px;
  padding-bottom: 18px;

  @include respond-to($body-width-tablet, $body-width-desktop) {
    padding-top: 54px;

    @include title($color: $color-almond, $letter-spacing: 0.3px);
  };

  @include title($color: $color-almond);
}

.quote__subtitle {
  margin-bottom: 44px;

  @include respond-to($body-width-tablet, $body-width-desktop) {
    margin-bottom: 24px;
  };

  @include subtitle($color: $color-almond);
}

.container {
  display: flex;
}
