.services {
  background-color: $background-services;

  @include border($border-slider-color);

  @include respond-to($body-width-tablet, $body-width-desktop) {
    border: none;
  }

  @include respond-to($body-width-mobile, $body-width-tablet) {
    border: none;
  }

  scroll-margin-top: $scroll-margin-top;
}


.services__title {
  padding-top: 59px;
  padding-bottom: 18px;

  @include respond-to($body-width-tablet, $body-width-desktop) {
    padding-top: 40px;
  }

  @include respond-to($body-width-mobile, $body-width-tablet) {
    padding-top: 26px;
  }

  @include title();
}

.services__subtitle {
  height: 60px;
  padding-bottom: 43px;
  overflow: hidden;

  text-overflow: clip;

  @include respond-to($body-width-tablet, $body-width-desktop) {
    height: 99px;
    padding-bottom: 25px;
  }

  @include respond-to($body-width-mobile, $body-width-tablet) {
    height: 214px;
    padding-bottom: 21px;
  }

  @include subtitle();
}

.services__list {
  display: grid;
  padding-bottom: 60px;

  grid-column-gap: 19px;
  grid-row-gap: 32px;
  grid-template-columns: repeat(3, 1fr);

  @include respond-to($body-width-tablet, $body-width-desktop) {
    padding-bottom: 76px;

    grid-row-gap: 51px;
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond-to($body-width-mobile, $body-width-tablet) {
    grid-row-gap: 26px;
    grid-template-columns: repeat(1, 1fr);
  }
}