/*Specially for PerfectPixel*/
.service {
  &:nth-child(3n) {
    .service__content {
      .service__title {
        margin-left: 2px;
      }
    }
  }
}

.arrow_left {
  left: 2px;
}

.filter__button {
  &:nth-child(1) {
    letter-spacing: 0.2px;
  }

  &:nth-child(2) {
    padding-right: 5px;

    letter-spacing: 0.1px;
  }

  &:nth-child(3) {
    letter-spacing: -0.05px;
  }

  &:nth-child(4) {
    padding-right: 5px;

    letter-spacing: -0.1px;
  }
}

.employee {
  &:nth-child(1) {
    .employee__info {
      letter-spacing: -0.061px;
    }
  }

  &:nth-child(2) {
    .employee__info {
      margin-left: 1px;
    }
  }

  &:nth-child(3) {
    .employee__info {
      padding-left: 0;
    }
  }
}

/*--------------------------*/
